
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>loadmapasyncHTML</title>
    <style type='text/css'>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: 'Segoe UI',Helvetica,Arial,Sans-Serif
        }
    </style>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script type='text/javascript' src='https://cn.bing.com/api/maps/mapcontrol?key=As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5'></script>
    <script type='text/javascript'>
        var map;
        function loadMapScenario() {
            map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
        }


    </script>
</head>
<body onload='loadMapScenario();'>
    <div id='printoutPanel'></div>

    <div id='myMap' style='width: 100vw; height: 100vh;'></div>
</body>
</html>