
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Index" />
    <title>Index</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css">
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "Microsoft YaHei"
        }

        #mapDiv {
            width: 100%;
            height: 100%
        }
    </style>
    <script type="text/javascript">
        var map;
        var zoom = 12;
        function onLoad() {
            //var projection = ol.proj.get('EPSG:4326');
            //var projectionExtent = projection.getExtent();
            //var size = ol.extent.getWidth(projectionExtent) / 256;
            var resolutions = [];
            var maxZoom = 18;
            for (var z = 0; z <= maxZoom; ++z) {
                resolutions[z] = Math.pow(2, maxZoom - z);
            }
            var tileGrid = new ol.tilegrid.TileGrid({
                origin: [0, 0],
                resolutions: resolutions
            });
            map = new ol.Map({
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.TileImage({
                            tileGrid: tileGrid,
                            tileUrlFunction: function (tileCoord, pixelRatio, proj) {
                                var z = tileCoord[0];
                                var x = tileCoord[1];
                                var y = tileCoord[2];
                                if (x < 0) {
                                    x = 'M' + (-x);
                                }
                                if (y < 0) {
                                    y = 'M' + (-y);
                                }
                                var url = "http://online" + parseInt(Math.random() * 10) +".map.bdimg.com/tile/?qt=vtile&x="+x+"&y="+y+"&z="+z+"&styles=pl&scaler=1&udt=20181205"
                                return url;
                            }
                        }),
                        maxResolution: resolutions[0],
                        minResolution: resolutions[maxZoom]
                    })
                ],
                target: 'mapDiv',
                view: new ol.View({
                    //projection: projection,
                    center: [111.653718, 29.012149],
                    zoom: zoom,
                    maxZoom: maxZoom,
                    minZoom: 0
                })
            });
        }
    </script>
</head>
<body onLoad="onLoad()">
    <div id="mapDiv"></div>
</body>
</html>
