
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="OpenLayers" />
    <title>OpenLayersBingMaps</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
</head>
<body>
    <div id="map" class="map"></div>
    <select id="layer-select">
        <option value="Aerial">Aerial</option>
        <option value="AerialWithLabels" selected>Aerial with labels</option>
        <option value="Road">Road (static)</option>
        <option value="RoadOnDemand">Road (dynamic)</option>
        <option value="collinsBart">Collins Bart</option>
        <option value="ordnanceSurvey">Ordnance Survey</option>
    </select>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script>
        var styles = [
            'Road',
            'RoadOnDemand',
            'Aerial',
            'AerialWithLabels',
            'collinsBart',
            'ordnanceSurvey'
        ];
        var layers = [];
        var i, ii;
        for (i = 0, ii = styles.length; i < ii; ++i) {
            layers.push(new ol.layer.Tile({
                visible: false,
                preload: Infinity,
                source: new ol.source.BingMaps({
                    //key: 'Your Bing Maps Key from http://www.bingmapsportal.com/ here',
                    key: 'As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5',
                    imagerySet: styles[i],
                    // use maxZoom 19 to see stretched tiles instead of the BingMaps
                    // "no photos at this zoom level" tiles
                    maxZoom: 19
                })
            }));
        }
        var map = new ol.Map({
            layers: layers,
            // Improve user experience by loading tiles while dragging/zooming. Will make
            // zooming choppy on mobile or slow devices.
            loadTilesWhileInteracting: true,
            target: 'map',
            view: new ol.View({
                center: ol.proj.fromLonLat([113.30765, 23.120049]),
                zoom: 12,
                maxZoom: 24,
                minZoom: 0
            })
        });

        var select = document.getElementById('layer-select');
        function onChange() {
            var style = select.value;
            for (var i = 0, ii = layers.length; i < ii; ++i) {
                layers[i].setVisible(styles[i] === style);
            }
        }
        select.addEventListener('change', onChange);
        onChange();
    </script>
</body>
</html>
