
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>OpenLayersTest</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css">
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }

        #allmap {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="allmap"></div>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script type="text/javascript">
        var maxZoom = 20;
        var resolutions = [];
        for (var i = 0; i <= maxZoom; i++) {
            resolutions[i] = Math.pow(2, 18 - i);
        }
        var tileGrid = new ol.tilegrid.TileGrid({
            origin: [-141, 27675],
            resolutions: resolutions,
            minZoom: 3,
        });
        var center = ol.proj.transform([116.404763,39.915351], 'EPSG:4326', 'EPSG:3857');
        var zoom = 12;

        var map = new ol.Map({
            target: 'allmap',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        tileUrlFunction: function (tileCoord) {
                            var z = tileCoord[0];
                            var x = tileCoord[1];
                            var y = tileCoord[2];
                            // 百度瓦片服务url将负数使用M前缀来标识
                            if (x < 0) {
                                x = 'M' + (-x);
                            }
                            if (y < 0) {
                                y = 'M' + (-y);
                            }
                            return "http://online" + parseInt(Math.random() * 10) + ".map.bdimg.com/tile/?qt=vtile&x=" + x + "&y=" + y + "&z=" + z + "&styles=pl&scaler=1&udt=20190125"
                        },
                        tileGrid: tileGrid
                    })
                })
            ],
            view: new ol.View({
                center: center,
                zoom: zoom,
                resolutions: resolutions
            })
        });

        map.on("click", function (a, b, c) {
            alert(ol.proj.transform(a.coordinate, 'EPSG:3857', 'EPSG:4326'));
        });
    </script>
</body>
</html>
