
@{
    ViewBag.Title = "GroundOverlay";
}

<div id="allmap"></div>

@section scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=1XjLLEhZhQNUzd93EjU5nOGQ"></script>
    <script type="text/javascript">
        $("#allmap").css("height", $(window).height() - 150);
        var center = new BMap.Point(119.30364, 26.082079);
        var sw = new BMap.Point(109.0, 19.3);
        var ne = new BMap.Point(126.8, 37.0);
        var zoom = 9;
        var map = new BMap.Map("allmap");
        // 居中放大
        map.centerAndZoom(center, zoom);
        // 启用滚轮放大缩小
        map.enableScrollWheelZoom();
        var mapStyle = [
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": {
                    "visibility": "off"
                }
            }
        ];
        map.setMapStyle({
            styleJson: mapStyle
        });
        var groundOverlay = new BMap.GroundOverlay(new BMap.Bounds(sw, ne), { opacity: 0.7 });
        // 设置GroundOverlay的图片地址
        groundOverlay.setImageURL("http://218.5.4.125:18084/ModelProduct/20180309/1004/LPDM_350100_4km_daily_20180309.png");
        // 添加GroundOverlay
        map.addOverlay(groundOverlay);

        console.log(groundOverlay.getBounds());
    </script>
}