
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="OpenLayers" />
    <title>OpenLayers</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css">
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "Microsoft YaHei"
        }

        #mapDiv {
            width: 100%;
            height: 100%
        }
    </style>
    <script type="text/javascript">
        var projection = ol.proj.get('EPSG:3857');
        var projectionExtent = projection.getExtent();
        var size = ol.extent.getWidth(projectionExtent) / 256;
        var maxZoom = 18;
        var matrixIds = [];
        var resolutions = [];
        for (var i = 0; i <= maxZoom; i++) {
            matrixIds[i] = [i];
            resolutions[i] = size / Math.pow(2, i);
        }
        var map;
        var center = [104.3, 37.8];
        var zoom = 5;
        var layers = [];

        function getLayers() {
            layers[0] = new ol.layer.Tile({
                source: new ol.source.WMTS({
                    name: "天地图全国矢量电子地图底图",
                    url: "http://t0.tianditu.gov.cn/vec_w/wmts?tk=fdcab2d88e293c189daf038cd01592e6",
                    layer: "vec",
                    style: "default",
                    matrixSet: "w",
                    format: "tiles",
                    wrapX: true,
                    tileGrid: new ol.tilegrid.WMTS({
                        origin: ol.extent.getTopLeft(projectionExtent),
                        resolutions: resolutions,
                        matrixIds: matrixIds
                    })
                })
            });
            layers[1] = new ol.layer.Tile({
                source: new ol.source.WMTS({
                    name: "天地图全国矢量电子地图注记",
                    url: "http://t0.tianditu.gov.cn/cva_w/wmts?tk=fdcab2d88e293c189daf038cd01592e6",
                    layer: "cva",
                    style: "default",
                    matrixSet: "w",
                    format: "tiles",
                    wrapX: true,
                    tileGrid: new ol.tilegrid.WMTS({
                        origin: ol.extent.getTopLeft(projectionExtent),
                        resolutions: resolutions,
                        matrixIds: matrixIds
                    })
                })
            });
        }
        function onLoad() {
            getLayers();

            map = new ol.Map({
                layers: layers,
                target: 'mapDiv',
                view: new ol.View({
                    center: ol.proj.fromLonLat(center),
                    zoom: zoom,
                    maxZoom: maxZoom,
                    minZoom: 1
                })
            });
        }
    </script>
</head>
<body onLoad="onLoad()">
    <div id="mapDiv"></div>
</body>
</html>
